.qty-btn .selected {
  background-color: #ff6f91;
  /* Pink color */
  color: white;
  border-color: #ff6f91;
}
.qty-btn {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.hidden {
  display: none;
}