<div class="flex justify-center mx-2">
  <!-- Mobile Version -->
  <div class="aspect-h-780 aspect-w-1920 md:hidden">
    <div class="overflow-hidden relative">
      <div
        class="flex transition-transform duration-700 ease-in-out"
        [style.transform]="getTransform()"
      >
        <div *ngFor="let image of desktopImages" class="min-w-full h-full">
          <img
            [src]="image"
            class="w-full h-auto object-cover"
            alt="carousel image"
          />
        </div>
      </div>

      <div class="absolute inset-0 flex items-center justify-between p-4">
        <!-- Arrow Controls -->
        <button
          class="left-arrow absolute top-1/2 left-4 transform -translate-y-1/2 bg-white p-2 rounded-full shadow"
          (click)="prev()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </button>

        <button
          class="right-arrow absolute top-1/2 right-4 transform -translate-y-1/2 bg-white p-2 rounded-full shadow"
          (click)="next()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </button>
      </div>

      <div class="absolute bottom-4 right-0 left-0">
        <div class="flex items-center justify-center mb-4">
          <a href="/tshirts">
            <button
              class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-6 md:py-2 md:px-8 rounded-xl text-base md:text-lg xl:text-2xl shadow-lg"
            >
              Shop Now
            </button>
          </a>
        </div>

        <!-- Indicators -->
        <div class="flex items-center justify-center gap-2">
          <div
            *ngFor="let image of desktopImages; let i = index"
            class="carousel-indicator transition-all w-2 h-2 md:w-3 md:h-3 bg-white rounded-full"
            [class.bg-opacity-50]="currentIndex !== i"
            [class.p-1]="currentIndex === i"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Desktop Version -->
  <div class="w-full aspect-w-1920 aspect-h-780 hidden md:block">
    <div class="overflow-hidden relative">
      <div
        class="flex transition-transform duration-700 ease-in-out"
        [style.transform]="getTransform()"
      >
        <div *ngFor="let image of desktopImages" class="min-w-full h-full">
          <img
            [src]="image"
            class="w-full h-full object-cover"
            alt="desktop carousel image"
          />
        </div>
      </div>

      <div class="absolute inset-0 flex items-center justify-between p-4">
        <button
          class="left-arrow p-0 md:rounded-full md:shadow md:bg-white text-white md:text-gray-800"
          (click)="prev()"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="36"
            width="36"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
          </svg>
        </button>

        <button
          class="right-arrow p-0 md:rounded-full md:shadow md:bg-white text-white md:text-gray-800"
          (click)="next()"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="36"
            width="36"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </button>
      </div>

      <div class="absolute bottom-4 right-0 left-0">
        <div class="flex items-center justify-center mb-4">
          <a href="/tshirts">
            <button
              class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-6 md:py-2 md:px-8 rounded-xl text-base md:text-lg xl:text-2xl shadow-lg"
            >
              Shop Now
            </button>
          </a>
        </div>

        <div class="flex items-center justify-center gap-2">
          <div
            *ngFor="let image of desktopImages; let i = index"
            class="transition-all w-2 h-2 md:w-3 md:h-3 bg-white rounded-full"
            [class.bg-opacity-50]="currentIndex !== i"
            [class.p-1]="currentIndex === i"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
